.env
.env.*
!.env.example
!.env.production.template
.git
.github
.idea
.vscode
__pycache__
*.py[cod]
*.sqlite3
*.log
.pytest_cache
.mypy_cache
htmlcov
staticfiles
venv
.venv
media/profile_pictures
media/result_sheet/*.pdf
media/registration_form/*.pdf
